/* 
.navbar-inverse .navbar-nav {
    margin-bottom: 0; 
    border-radius: 0; 
    background-color: #5E4485; 
    color: white;  
} */

.my-navbar {
    margin-bottom: 0; 
    border-radius: 0; 
    border: 0; 
    background-color: #5E4485; 
    color: white;  
    padding: 1% 0; 
    font-size: 1.2em; 
}

.my-navbar .navbar-brand {
    color: white; 
    font-size: 30px; 
    float: left;
    min-height: 55px; 
    padding: 10px 15px 5px; 
}

.my-navbar button {
    border: 0; 
    
}

.my-navbar .navbar-toggle.collapsed {
    background-color: #5E4485; 
}
.my-navbar .navbar-toggle {
    background-color: #5E4485; 
}

.my-navbar .navbar-nav .active a, .my-navbar .navbar-nav .active a:focus, .my-navbar .navbar-nav .active a:hover {
    color: white; 
    background-color: #5E4485;
}

.my-navbar .navbar-nav li a {
    color: #d5d5d5; 
}

.carousel-caption {
    top: 50%; 
    transform: translateY(-50%); 
    text-transform: uppercase; 

}

.btn {
    font-size: 18px; 
    color: white;
    padding: 12px 22px; 
    background-color: #5e4485; 
    border: 2px solid white; 
}

.container {
    margin: 4% auto; 
}

#icon {
    max-width: 200px; 
    margin: 1% auto; 
    font-size: 150px; 
    color: #5e4485; 
}

h2 {
    font-size: 2.8em; 
}

h4 {
    font-size: 1.2em; 
}

footer {
    width: 100%; 
    background-color: #5e4485; 
    padding: 3%; 
    color: white; 
}

#spock {
    color: white; 
    font-size: 100px; 
    margin: 1% auto; 
}

.fa {
    padding: 15px; 
    font-size: 25px; 
    color: white; 
}

.fa:hover {
    color: #d5d5d5; 
    text-decoration: none; 
}

@media screen and (max-width: 900px) {
    .fa {
        font-size: 20px; 
        padding: 10px; 
    }
}


@media screen and (max-width: 600px) {
    .carousel-caption {
        display: none; 
    }

    .item {
        height: 310px; 
    }

    #icon {
        max-width: 150px; 
    }

    h4 {
        font-size: 1.5em; 
    }

    #spock {
        color: white; 
        font-size: 110px; 
    }
}


